/* Change default style */
.reveal section h2 { text-transform: none; }

.reveal ul { margin-left: 2em; }

.reveal section img { background:none; border:none; box-shadow:none; }

/* Add another fragment to replace text hakimel/reveal.js/issues/745 */
.reveal .slides section .fragment.step-fade-in-then-out {
	opacity: 0;
	display: none;
}

.reveal .slides section .fragment.step-fade-in-then-out.current-fragment {
	opacity: 1;
	display: inline; }

/* Terminal like style from elijahmanor/spectacle-terminal */
.term-bar {
	position: relative;
	padding: 10px;
	background-color: rgb(224, 233, 240);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 10px 0px inset;
	color: black;
}

.term-bar button {
	border: medium none;
	border-radius: 50%;
	height: 15px;
	width: 15px;
	margin-right: 5px;
}

.term-text {
	margin-top: 0 !important;
	width: 100% !important;
}

.term-text code {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.term-text code .prompt {
	color: green;
}

.term-text code .prompt::after {
	content: "antoine@gerad$ ";
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 20em;
	background-color: DimGray;
	color: White;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	font-size: 50%;
	font-style: italic;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}
